@page "Index"
@model IndexProdottiModel
@namespace _04_webapp_sqlite.Prodotti
@{
    ViewData["Title"] = "Elenco Prodotti";
    AggiungiProdottoModel CreateModel = new();
}

<h1>@ViewData["Title"]</h1>
@* <h1>Totale prodotti: @Model.TotaleProdotti</h1>
<h1>Nella List<>: @Model.Prodotti.Count</h1> *@
<div class="row">
    <div class="col-4 order-1">
        <h5>Filtra per categoria</h5>
        <div class="form-control">
            <form method="post">
                <select class="form-control" asp-for="IdCategoria" asp-items="Model.CategorieTendina">
                    <option value="">Tutte le categoria</option>
                </select>
                <button class="btn btn-primary form-control" type="submit">Filtra</button>
            </form>
        </div>
    </div>
    <div class="col-4 order-1">
        @* <h5>Filtra Recenti</h5>
        <div class="form-control">
            <form method="post">
                <button></button>
                <button class="btn btn-primary form-control" type="submit">Filtra</button>
            </form>
        </div> *@
    </div>
    <div class="col-4"></div>
</div>

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                @* <th class="">Id</th> *@
                <th class="">Nome</th>
                <th class="" style="display:block">Prezzo
                    <a asp-page="Index" asp-route-ordine="0" asp-route-idcategoria="@Model.IdCategoria">
                        <i class="fa-solid fa-arrow-up" id="ArrowFilter"></i>
                    </a>
                    <a asp-page="Index" asp-route-ordine="1" asp-route-idcategoria="@Model.IdCategoria">
                        <i class="fa-solid fa-arrow-down " id="ArrowFilter"></i>
                    </a>
                </th>
                <th class="">Categoria</th>
                <th class="">Actions</th>
                @* <th class="">Action 2</th> *@
            </tr>
        </thead>
        <tbody>
            <form method="post" asp-page="AggiungiProdotto">
                <tr>
                    <partial name="_PartialNuovoProdotto" model="@CreateModel" />
                </tr>
            </form>
            @foreach (var prodotto in Model.Prodotti)
            {
                <tr>
                    @* <td class="">@prodotto.Id</td> *@
                    <td class="">
                        <a asp-page="Dettaglio" asp-route-id="@prodotto.Id">
                            @prodotto.Nome
                        </a>
                    </td>
                    @* <td class="">@prodotto.Prezzo.ToString("F2") €</td> *@
                    <td>@PriceFormatter.Format(prodotto.Prezzo)</td>
                    <td class="">@prodotto.CategoriaNome</td>

                    <td><a asp-route-id="@prodotto.Id" asp-page="Modifica">
                            <div class="btn green"><i class="fa-solid fa-pen-to-square" style="color:white"></i>
                            </div>
                        </a>

                        <a asp-page="Elimina" asp-route-id="@prodotto.Id">
                            <div class="btn red"><i class="fa-solid fa-trash" style="color:white"></i></div>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>