@page "Index"
@model IndexProdottiModel
@namespace _04_webapp_sqlite.Prodotti
@{
    ViewData["Title"] = "Elenco Prodotti";
    AggiungiProdottoModel CreateModel = new();
    //CreateModel.CaricaCategorie();

}


<h1>@ViewData["Title"]</h1>

<div class="container-fluid">


    @* <div>
        <a asp-area="" asp-page="AggiungiProdotto" class="btn btn-primary green"><i class="fa-solid fa-plus text-white"></i>
            Crea</a>
    </div> *@
    <form method="post" asp-page="AggiungiProdotto">
        <table class="table">
            <thead>
                <tr>
                    <th class="">Id</th>
                    <th class="">Nome</th>
                    <th class="">Prezzo</th>
                    <th class="">Categoria</th>
                    <th class="">Actions</th>
                    @* <th class="">Action 2</th> *@
                </tr>
            </thead>
            <tbody>
                <tr>

                    <partial name="_PartialNuovoProdotto" model="@CreateModel" />

                </tr>
                @foreach (var prodotto in Model.Prodotti)
                {
                    <tr>
                        <td class="">@prodotto.Id</td>
                        <td class="">@prodotto.Nome</td>
                        <td class="">@prodotto.Prezzo</td>
                        <td class="">@prodotto.CategoriaNome</td>

                        <td><a asp-route-id="@prodotto.Id" asp-page="Modifica">
                                <div class="btn green"><i class="fa-solid fa-pen-to-square" style="color:white"></i>
                                </div>
                            </a>

                            <a asp-page="Elimina" asp-route-id="@prodotto.Id">
                                <div class="btn red"><i class="fa-solid fa-trash" style="color:white"></i></div>
                            </a>
                        </td>

                    </tr>

                }
            </tbody>
        </table>
    </form>


</div>